/* .body{
  height:100%;
  background-color:#ffffff;
} */



#btnGroupDrop1, #btnGroupDrop2,#btnGroupDrop3 {
  background-color: whitesmoke;
  border: 2px solid black;
  /* padding: 15px 28px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10vw;
}

/* .carousel-caption {
   position: absolute;
   bottom: 25vh;
} */

.bg-dark{
   background:transparent !important;
   transition:750ms ease;
}

.bg-dark.scrolled{
background:pink  !important;
}

.navbar {
  background-color: #ffffff;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}




/* .navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  (80px - button height 34px) / 2 = 23px
  margin-top: 23px;
  padding: 9px 10px !important;
} */

#mod{
  background-color: transparent;
  border: transparent;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

/* .main-content {
background-color: #ffffff;
padding-top:5%;

} */



.carousel-item img {
  height: 100vh;
  
  object-fit: cover; 
}

.card-pricing.popular {
    z-index: 1;
    border: 3px solid #007bff;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}

/* login and register */

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* body {
    background-color: #435165;
    margin: 0; 
 }  */
.login, .register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1, .register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}
.login .links a, .register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
    color: #9da3ac;
}
.login .links a.active, .register .links a.active {
    border-bottom: 3px solid pink;
    color: pink;
}
.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: pink;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: pink;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: pink;
    transition: background-color 0.2s;
}

body.loggedin {
    background-color: #f3f4f7;
}


.button4{
 display:inline-block;
 padding:0.3em 1.2em;
 margin:0 0.1em 0.1em 0;
 border:0.16em solid rgba(255,255,255,0);
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
/*  font-family:'Roboto',sans-serif; */
 font-weight:bold;
 color: #5b6574;
/*  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
 text-align:center;
 transition: all 0.2s;
 width: 10vw;
}
.button4:hover{
 border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em){
 .button4{
  display:block;
  margin:0.2em auto;
 }
}