{% extends "_layout.html" %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body" style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
          <h5 class="card-title">Klantengegevens</h5>
          
         
       
          <p class="card-text">Naam: {{user.name}}</p>
          <p class="card-text">Email: {{user.email}}</p>

          {%if user.size != "default"%}
          <p class="card-text">Kledingmaat: {{user.size}}</p>
          {%endif%}
         
          <button><a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal">Wijzigen</a></button>
        </div>
      </div> 
<br>
<br>
      <div class="card">
        <div class="card-body" style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
      <h5 class="card-title">Adresgegevens</h5> 
      {%if ad == True%}
    <div class="d-inline-flex p-2 bd-highlight">
        <span style="margin-right:2rem;">
        <h6 class="card-subtitle mb-2 text-muted">Verzend Adres</h6>
        <p class="card-text">Geadresseerde: {{adress.name}}</p>
        <p class="card-text">Straat: {{adress.street}}</p>
        <p class="card-text">Huisnummer: {{adress.housenumber}}</p>
        <p class="card-text">Postcode:{{adress.postal}}</p>
        <p class="card-text">Stad: {{adress.city}}</p>
        <p class="card-text">Land: {{adress.country}}</p>
        <p class="card-text">Telefoon: {{adress.phone}}</p>
        <button><a href="{{url_for('users.edit_adress')}}"  class="card-link">Wijzigen</a></button> 
        </span>
      
        {%if inv == True%}
        <span>
            <h6 class="card-subtitle mb-2 text-muted">Factuur Adres</h6>
            <p class="card-text">Geadresseerde: {{invoice.name}}</p>
            <p class="card-text">Straat: {{invoice.street}}</p>
            <p class="card-text">Huisnummer: {{invoice.housenumber}}</p>
            <p class="card-text">Postcode:{{invoice.postal}}</p>
            <p class="card-text">Stad: {{invoice.city}}</p>
            <p class="card-text">Land: {{invoice.country}}</p>
            <p class="card-text">Telefoon: {{invoice.phone}}</p>
            <button><a href="{{url_for('users.invoice')}}"  class="card-link">Wijzigen</a></button>
        </span>
      
        {%else%}    
        <span>
            <h6 class="card-subtitle mb-2 text-muted">Factuur Adres</h6>
            <p class="card-text">Geadresseerde: {{adress.name}}</p>
            <p class="card-text">Straat: {{adress.street}}</p>
            <p class="card-text">Huisnummer: {{adress.housenumber}}</p>
            <p class="card-text">Postcode:{{adress.postal}}</p>
            <p class="card-text">Stad: {{adress.city}}</p>
            <p class="card-text">Land: {{adress.country}}</p>
            <p class="card-text">Telefoon: {{adress.phone}}</p>
            <button><a href="{{url_for('users.invoice')}}"  class="card-link">Wijzigen</a></button>
        </span>
       
        {%endif%}
    </div>
        
{%else%}
<p class="card-text">Is nog niet bekend</p>
{%endif%}
       
 
        
        </div>
      </div> 
     
</div>
<center>
    <button class="btn btn-primary-light"><a href="#">homepage
    </a></button>
    <button class="btn btn-primary-light"><a href="#">bestellingen</a></button>
  </center>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">  
    <div class="modal-dialog" role="document">
        <center>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Klantgegevens wijzigen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="{{ url_for('users.edit') }}" method="POST">
                <!-- <div class="col-sm-5">
                    <h1> Klantengegevenswijzigen</h1>
                </div> -->
            
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Naam:</label>
                    <div class="col-sm-5">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input class="form-control" name="name" placeholder="Nieuwe naam">
                    </div>
                </div>
            
                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">Paswoord:</label>
                    <div class="col-sm-5">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="email" class="form-control" name="email" placeholder="Nieuw Emailadres">
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                </div>
            
            </form>
        </div>
       
      </div>
    </center>
    </div>
  </div>


{%endblock%}