{% extends "_layout.html" %}
{% block content %}



<br>


<div class="container">
    <center>
        <h3 class style="justify-content: center;">Find the rental style that fits you best:</h3>
    </center>
    <!-- pick your preferred membership option and start renting  -->
   
            <div class="card-deck">
                <div class="card">


                    <div class="card-body">

                        <center>
                            <h5><u>No strings attached</u></h5>
                            <br>
                            <br>

                            <h6>Rent unlimited:</h6>

                            <br>
                            <form action="{{ url_for('subscriptions.standard')}}" method="POST">

                                <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <select name="price" id="nsa_s_select" onchange="nsa_s_selectfunc()">
                                    <option value="22">1 outfit for a week</option>
                                    <option value="42">2 outfits for a week</option> -->
                                    3 outfits for a week 
                                    <!-- <option value="71">4 outfits for a week </option>
                                    <option value="81">5 outfits for a week </option>
                                </select>
                                <br>
                                <br> -->



                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" name="price" value="93" />
                                <h6>Pay <big>
                                        <span>€93</span>
                                    </big></h6>



                               
                                <br>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <button name type="submit" class="btn btn-primary">Subscribe</button>
                                <br>
                                <br>
                                

                            </form>
                     
                        </center>
                    </div>
                </div>




                <div class="card">

                    <div class="card-body">
                        <center>
                            <h5><u>Steal the show</u></h5>
                            <br>

                            <form action="{{ url_for('subscriptions.premium')}}">
                                <h6> Rent unlimited:</h6>
                              

                                    
                                  
                                        <big>4</big> outfits at a time
                                    

                               
                                <br>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" name="price" value="109" />
                                <h6>Pay <big><span >€109</span></big></h6>
                                <br>
                                <div>
                                   

                                        <br>

                                        Unlimited outfits<br>Swap anytime!
                                        <br>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <button name type="submit" class="btn btn-primary">Subscribe</button>
                                        <br>
                                        <br>

                            </form>
                           
                        </center>
                    </div>
                </div>


                <div class="card">


                    <div class="card-body">
                        <center>
                            <h5><u>Fashionasm</u></h5>
                            <br>
                            <form action="{{ url_for('subscriptions.exclusive')}}">
                                <h6>Rent Unlimited:
                                </h6>
                                <select id="f_s_select" onchange="f_s_selectfunc()">


                                    
                                        5 outfits at a time
                                    

                                </select>
                                <br>

                                <br>
                                <h6>Pay <big>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="price" value="125" />
                                        <span>€125</span>
                                    </big>/month</h6>
                                <br>

                                Unlimited outfits<br>Swap anytime!


                                <br>
                                <br>

                                <button id="flex_sts_button" type="submit" class="btn btn-primary">Buy
                                    now</button>
                                <br>
                                <br>

                            </form>
                          
                        </center>
                    </div>
                </div>


            </div>
        </div>            

</div>


        <script type="text/javascript">

            function nsa_s_selectfunc() {
                var x = document.getElementById("nsa_s_select").value;

                document.getElementById("nsa_s_p").innerHTML = "€" + x;
            }
            function sts_s_selectfunc() {
                var x = document.getElementById("sts_s_select").value;
                var y = document.getElementById("sts_s_select");
                var z = y.options[y.selectedIndex].text;
                var outfits = z.split(" ");
                var outfit = outfits[0];
                var total = outfit * 3;
                document.getElementById("sts_s_p").innerHTML = "€" + x;
                document.getElementById("sts_s_t").innerHTML = total;
            }

            function f_s_selectfunc() {
                var x = document.getElementById("f_s_select").value;
                document.getElementById("f_s_p").innerHTML = "€" + x;
            }

            function nsa_p_selectfunc() {
                var x = document.getElementById("nsa_p_select").value;
                document.getElementById("nsa_p_p").innerHTML = "€" + x;
            }
            function sts_p_selectfunc() {
                var x = document.getElementById("sts_p_select").value;
                var y = document.getElementById("sts_p_select");
                var z = y.options[y.selectedIndex].text;
                var outfits = z.split(" ");
                var outfit = outfits[0];
                var total = outfit * 3;
                document.getElementById("sts_p_p").innerHTML = "€" + x;
                document.getElementById("sts_p_t").innerHTML = total;
            }

            function f_p_selectfunc() {
                var x = document.getElementById("f_p_select").value;
                document.getElementById("f_p_p").innerHTML = "€" + x;
            }

        </script>


        {%endblock%}