{% extends "_layout.html" %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <style>
        .for_slick_slider {

            display: flex;

            width: 200rem;
            height: 200rem;


        }

        /* 

        .for_slick_slider .items {
            /* margin: 50px; */



        /* width: 250px;
            height: 200rem;
        }  */

        .for_slick_slider .items img {
            height: 200rem;
            width: 20rem;
            object-fit: cover;

        }

        #top_pic {
            margin-left: 10px;
            object-fit: cover;
            width: 800px;

        }

        nav .breadcrumb {
            /* padding: 0.8em 1em;
            border: 1px solid hsl(0, 0%, 90%);
            border-radius: 4px; */
            background-color: transparent;
            border: none;
        }

        nav .breadcrumb li a {
            color: black;
        }

        body {
            position: relative
        }

        #pic_box {
            position: absolute;
            text-align: left;
        }

        #info {
            width: 50em;
            position: absolute;
            /* text-align: right; */
            margin-left: 60em;

            /* margin-right: 10em; */

        }

        #headingOne,
        #headingTwo {
            background-color: transparent;
        }

        .card,
        .card-header,
        .card-body {
            border: none;
        }

        .card-header {
            border-bottom: 1px solid black;
        }



        .modal-dialog {
            position: fixed;
            right: 0%;
            margin-top: 0%;
            height: 100vh;

        }

        .modal-body {
            height: 95vh;
            overflow-y: auto;
        }


        .modal-open {
            overflow-y: scroll;
        }
    </style>

</head>

<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30"
                class="d-inline-block align-top" alt="">
            RENTISTA
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <!-- pricing and how it works  -->
                <li class="nav-item active">
                    <a class="nav-link" href="#explanation">Subscriptions<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('outfits.show') }}">Clothing<span
                            class="sr-only">(current)</span></a>
                </li>
                <!-- categories:
        skirts
        shorts
        cardigans/jerseys/sweathers
        pants
        dresses

        ocassions:
        workwear
        events(bridal, gala, cocktail)
        holiday

        femenine & sexy
        elegant
        casual
        Timeless
        trendy
        authentic -->



                <li class="nav-item active">
                    <a class="nav-link" href="#plans">Get the look<span class="sr-only">(current)</span></a>
                </li>
                <!-- models
        celebs -->



                <li class="nav-item active">
                    <a class="nav-link" href="#inspiration">Inspiration<span class="sr-only">(current)</span></a>
                </li>
                <!-- Trends
        Advice
        Dress to the moment
        get the look -->
            </ul>
            <span class="navbar-text">
                <div style="text-align: center"> <button type="button" id="mod" class="btn btn-primary"
                        data-toggle="modal" data-target="#modal-with-tab">

                        <i class="fas fa-user" style="font-size:24px; display: inline-block"></i></button>
                    <!-- <br>
        <div style="display: inline-block"><a href="#">Login</a>
        </div> -->

                    <button type="button" id="mod" class="btn btn-primary" data-toggle="modal"
                        data-target="#modal-with-tab">

                        <i class="fas fa-heart" style="font-size:24px; display: inline-block"></i></button>



                    <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">
                        <i class="fas fa-shopping-bag" style="font-size:24px; display: inline-block"></i>
                    </button>

            </span>
        </div>

    </nav>

    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Shopping Bag</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p id="no_items">There are no items in your shopping bag
                    </p>


                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('outfits.show')}}">Outfits</a></li>
            <li class="breadcrumb-item"><a
                    href="{{url_for('outfits.detail', id=outfit[0].id)}}">{{outfit[0].outfit_name}}</a></li>
        </ol>
    </nav>
    <div id="pic_box">
        <div>
            <img id="top_pic" src="{{pictures[1].picture}}">
        </div>
        <br>
        <div class="for_slick_slider responsive">
            {%for picture in pictures %}
            <div class="items">
                <a href="#"><img src="{{picture.picture}}" class="pic"></a>
            </div>
            {%endfor%}
        </div>
    </div>

    <br>

    <div id="info">
        <div class="title">
            <a href="#">
                <h6>{{outfit[0].brand_name}}</h6>
            </a>
            <center>
                <h3>
                    <hr>{{outfit[0].outfit_name}}
                    <hr>
                </h3>
            </center>

        </div>

        <div class="form">
            <!-- <form action="#" method="POST"> -->
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <select id="size" name="size">
                        <option value="" disabled selected>Select your size</option>
                        {%if size[0].size_xs >= 1  %}
                        <option value="size_xs">size_xs</option>
                        {%endif%}
                        {% if size[0].size_s >= 1 %}
                        <option value="size_s">size_s</option>
                        {%endif%}
                        {% if size[0].size_m >= 1 %}
                        <option value="size_m">size_m</option>
                        {%endif%}
                        {% if size[0].size_l >= 1 %}
                        <option value="size_l">size_l</option>
                        {%endif%}
                        {% if size[0].size_xl >= 1 %}
                        <option value="size_xl">size_xl</option>
                        {%endif%}
                    </select>
                </div>
            </div>



            <button id="book">Add to booking</button>

            </form>
        </div>
        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Description
                        </button>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            +
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        {{outfit[0].description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="#collapseTwo">
                            Material
                        </button>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="#collapseTwo">
                            +
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        {{outfit[0].material}}
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript">
        $('.responsive').slick({
            // dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    </script>

    <script type="text/javascript">
        // $(function () {
        //     $('#book').on('click', function () {
        //         var $size = $("#size option:selected").text();
        //         $("#no_items").hide();
        //         $(".modal-body").append('<div id="id">Some Stuff Here</div>');

        //     });
        // });

    </script>



</body>


{% endblock %}